
[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=Nenhum Nome
Name[pt_BR]=ocara-cliente
Exec=ocara-client
X-GNOME-Autostart-enabled=true
